<section class="container">
	<div class="row">
		<ul class="nav nav-tabs nav-stacked">
			<% @sites.each do |site| %>
				<%= render :partial => "site_link_sp", :locals => {:site => site} %>
			<% end %>
		</ul>
	</div>
</section>
