<article>
	<ul id="site_carousel">
		<% @sites.each do |site| %>
			<%= render :partial => "site_link_sp", :locals => {:site => site} %>
		<% end %>
	</ul>
	<p id="swipetext">Swipe to change link</p>
</article>
