// Place all the styles related to the pc controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@hero-unit-color: #dddddd;

#masterhead{
	background-image: url(/assets/head.jpg);
	padding:45px;
}

#hero-unit{
	background-color: transparent;
	text-align: center;
	color: @hero-unit-color;
	h1{
		font-size:90px;
	}
}