// Place all the styles related to the pc controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

//= require bootstrap_and_overrides
@hero-unit-color: #dddddd;

body{
	padding: 0px;
}

#masterhead{
	background-image: url(/assets/head.jpg);
	background-size: cover;
}

#hero-unit{
	background-color: transparent;
	text-align: center;
	color: @hero-unit-color;
	h1{
		font-size:30px;
	}

	p{
		font-size:small;
	}
}

.container{
	font-size: medium;
	text-align: center;

	h2{
		font-size: 24px;
	}
}