@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@black: #000000;
@white: #FFFFFF;

body{
	margin:0px;
	height:100%;
	background-color:@black;
	font-family: 'Poiret One', cursive;
	color:@white;

	section{
		padding-left:10px;
	}
	h1{
		font-size:48px;
		font-weight: normal;
	}

	p{
		font-size:18px;
	}
}

#linkmenu_head{
		font-weight: normal;
		padding-left: 10px;
		font-size: 40px;
		margin: 0px;
		background-color:@white;
		color:@black;
}

#linkmenu{
	//background-color:@white;
	width:100%;
	list-style-type:none;
	margin: 0px;
	padding:0%;
	li{
		display: none;
		//background-image: image-url("head_sp.jpg");
		height:50px;
		font-size:40px;
		word-wrap:break-word;
		padding-left:10px;
		a{
			background-color:@black;
			color:@white;
			text-decoration: none;
		}
	}
}
