<!DOCTYPE html>
<html>
<head>
  <title>fktan5.net - Hayabusa</title>
  <%= stylesheet_link_tag    "pc", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="masterhead">	
		<div class="hero-unit" id="hero-unit">
				<h1>fktan5.net</h1>
				<p>since 2010</p>
				<p>Like: Music[House, Dance, Electro, and more], Illust, Traffic Contents, Anime, CardWirth, etc...</p>
		</div>
	</section>

	<%= yield %>

	<footer class="footer">
		<div class="container">
			<p>copyright(c) <a href="http://twitter.com/fktan5">fktan5</a> reserved.</p>
		</div>
	</footer>
</body>
</html>
