<!DOCTYPE html>
<html>
<head>
  <title>Hayabusa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "sp", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section>	
		<div>
				<h1>fktan5.net</h1>
				<p>since 2010</p>
				<p>Like: Music[House, Dance, Electro, and more], Illust, Traffic Contents, Anime, CardWirth, etc...</p>
		</div>
	</section>

	<%= yield %>
	
	<footer>
		<p>copyright(c) fktan5 reserved.</p>
	</footer>
</body>
</html>

